.trip-list{
    width: 480px;
    margin: 60px auto;
}

.trip-list ul{
    padding: 0;
}

.trip-list li{
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: 3px solid #71ad83;
    box-sizing: border-box;
    padding: 10px;
    background-color: #6dd482;
    border-radius: 6px;
    list-style-type: none;
    margin: 20px 0;
}

.trip-list li:hover{
    background-color:#32d753;
}

.trip-list .filters{
    display: flex;
    gap: 10px;
}

.trip-list button{
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    flex-grow: 1;
    border-radius: 12px;
    border: 1px solid;
    color: #fff;
    background-color: #6dd482;
}

.trip-list button:hover{
    background-color:#32d753;
}